.container {
  position: relative;
}

.span {
  width: 160px;
  text-align: center;
  background: var(--error);
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.4s;
  visibility: hidden;
  position: absolute;
  bottom: calc(100% + 20px);
  left: 50%;
  transform: translateX(-60%);
  color: #fff;
}

.span::before {
  content: "";
  border-style: solid;
  border-color: var(--error) transparent;
  border-width: 6px 6px 0 6px;
  top: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.container:hover .span {
  visibility: visible;
  opacity: 1;
}
