@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --primary:rgb(49, 46, 56);
  --secondary:rgb(35, 33, 41);

  --text :#fff;
  --text-secondary :  rgb(49, 46, 56);
  --text-hover : rgb(201, 194, 194);

  --link :rgb(248, 137, 11);
  --link-hover :rgb(202, 120, 25);

  --button: rgb(255, 144, 0);
  --button-hover: rgb(204, 120, 10);

  --sidebar: rgb(77, 74, 83);

  --border-input : rgb(35, 33, 25);

  --error: rgb(197, 48, 48);

  --icon: rgb(102, 99, 96);
}


body {
  -webkit-font-smooth: antialiased;
  margin: 0;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
